:root {
    --primary-foreground-color: #ffffff;
    --primary-background-color: #000000;
    --secondary-foreground-color: #000000;
    --secondary-background-color: #ffffff;
    --primary-gradient-start: #ffcdb2;
    --primary-gradient-end: #e5989b;
    --modern-card-margin-top: 0px;
}

.navbar>.container-fluid {
    justify-content: center;
    text-align: center;
}

.header {
    position: relative;
    display: block;
}

.main {
    display: block;
    color: aliceblue;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.img-md {
    width: 150px;
    height: 150px;
}

.img-sm {
    width: 100px;
    height: 100px;
}

.item-center {
    align-self: center;
}

.w-m2 {
    max-width: 200px;
}

.rounded-full {
    border-radius: 100%;
}

.txt-md {
    font-size: medium;
}

.txt-lg {
    font-size: large;
}

.badge {
    background: -webkit-linear-gradient(45deg, var(--primary-gradient-start), var(--primary-gradient-end));
}

.badge.line::after {
    content: '';
    position: fixed;
    display: inline;
    left: 0;
    border-radius: 5px;
    width: 100%;
    height: 5px;
    background: -webkit-linear-gradient(45deg, var(--primary-gradient-start), var(--primary-gradient-end));
    z-index: -1;
    transform: translateY(120%);

}

.block {
    display: block;
}

.container.center {
    margin-left: unset;
    margin-right: unset;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

.txt-grad {
    background: -webkit-linear-gradient(45deg, var(--primary-gradient-start), var(--primary-gradient-end));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: darkgrey;
}

.list-icons svg {
    cursor: pointer;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--bs-dark);
}

.list-icons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(45deg, var(--primary-gradient-start), var(--primary-gradient-end));
}

a {
    text-decoration: none;
    color: var(--bs-dark);
    cursor: pointer;
}

.ttip {
    position: relative;
    display: inline-block;
}

.ttip .tooltiptext::before {
    content: '';
    position: relative;
}

.ttip .tooltiptext {
    visibility: hidden;
    width: 120px;
    border: 1px solid var(--bs-dark);
    top: 130%;
    left: 50%;
    margin-left: -62px;
    background-color: var(--secondary-background-color);
    color: var(--bs-dark);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3) !important;

    position: absolute;
    z-index: 999;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.shake:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.zoomsvg:hover svg {
    transform: scale(110%);
    transition-duration: 00.2s;
}

.ttip .tooltiptext:after {
    display: inline-block;
    content: '';
    top: -6px;
    left: 48%;
    width: 10px;
    height: 10px;
    border-color: var(--bs-dark) transparent transparent var(--bs-dark);
    border-width: 1px;
    border-style: solid;
    background-color: var(--secondary-background-color);
    transform: rotate(45deg);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 998;
}

/* Show the tooltip text when you mouse over the tooltip container */
a:hover .tooltiptext {
    visibility: visible;
}

main {
    margin-bottom: 100px;
}

.card {
    flex-wrap: wrap;
    border: 3px solid transparent;
    margin: 5px 5px 5px 5px;
    background-color: gainsboro;
    border-radius: 10px;
    transition: 0.2s;
}

.card.mini {
    width: 100px;
}

.card.wide {
    width: 100%;
    height: 300px;
}

.card.modern {
    overflow: visible;
    margin-top: calc(var(--modern-card-margin-top) + 10px);
    background-color: var(--secondary-background-color);
}

.card[data-aos] {
    pointer-events: none;
}

.card.aos-animate {
    pointer-events: auto;
}

.card.aos-init[data-aos].aos-animate {
    transform: unset;
}

@media screen and (min-width: 800px) {
    .card.modern {
        width: calc(50% - 10px);
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 800px) {
    .card.modern {
        width: calc(100% - 15px);
        margin-left: 5px;
        margin-right: 5px;
        height: calc(330px - var(--modern-card-margin-top));
    }
}

@media only screen and (min-width:800px) and (max-width: 1200px) {
    .card.modern {
        height: calc(350px - var(--modern-card-margin-top));;
    }

    .card-body {
        max-height: 6rem;
    }
}

@media only screen and (min-width: 1200px) {
    .card.modern {
        height: calc(330px - var(--modern-card-margin-top));;
    }

    .card-body {
        max-height: 5rem;
    }
}

@media only screen and (min-width: 0px) and (max-width: 800px){
    .card.modern {
        height: auto;
    }

    .card-body {
        max-height:auto;
        margin-bottom: 60px;
    }
}

.card.mini img {
    width: 100px;
    align-self: center;
    margin-top: 10px;
}

.card.mini:hover {
    width: 100px;
    border: 3px solid green;
    transition: 0.2s;
}

.card.wide img {
    width: 100%;
    height: 170px;
    margin-top: 10px;
    object-fit: contain;
}

.card.wide.modern img {
    width: 100%;
    height: 170px;
    margin-top: calc(var(--modern-card-margin-top) * -1);
    object-fit: contain;
}

.card-body {
    isolation: isolate;
    padding-top: 5px;
    overflow: hidden;
}

.card-body>p {
    font-size: 14px;
}

.card-option {
    position: absolute;
    bottom: 10px;
    left: 0.5rem;
    padding-left: 1rem;
    top: auto;
}

.ratings>.checked {
    color: orange;
}

.ratings>svg {
    color: var(--bs-dark);
}

.btn-none {
    background-color: transparent;
    border-width: 0px;
    border-radius: 0px;
    color: var(--primary-foreground-color);
}

.btn-modern {
    background-color: transparent;
    color: transparent;
    border: 0;
    border-radius: 5px;
    outline: none;
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none;
}


.btn-modern svg {
    align-self: center;
    color: var(--bs-dark);
    height: 25px;
    width: 25px;
    transition: 0.2s;
}

.btn-modern:hover svg {
    color: red;
    transform: scale(110%);
    transition: 0.2s;
}

.tocolor[data-color=red]:hover {
    transition-duration: 0.2s;
    color: red;
}

.tocolor[data-color=blue]:hover {
    transition-duration: 0.2s;
    color: rgb(58, 44, 246);
}

.tocolor[data-color=purple]:hover {
    transition-duration: 0.2s;
    color: purple;
}

.tocolor[data-color=white]:hover {
    transition-duration: 0.2s;
    color: white;
}

.tocolor[data-color=black]:hover {
    transition-duration: 0.2s;
    color: black;
}

.one-line {
    max-height: 28px;
    overflow: hidden;
}

p.card-text {
    text-align: justify;
    text-justify: inter-word;
}